In this notebook I will clean my powerseats.csv and clean it before making a svg

In [33]:
import requests

In [34]:
import pandas as pd

In [35]:
pp_df = pd.read_csv("powerseats.csv")
pp_df.dtypes
pp_df.head()

  Hallitukset ja tj:t vallan verkostoon 23.4.2024           Unnamed: 1
0                                             NaN                  NaN
1                                      Row Labels  Count of personName
2                                     Risto Murto                    2
3                                      Arja Talma                    4
4                               Frank Vang-Jensen                    1

In [36]:
pp_df.rename(columns={'Hallitukset ja tj:t vallan verkostoon 23.4.2024': 'Names'}, inplace=True)
pp_df.head()

               Names           Unnamed: 1
0                NaN                  NaN
1         Row Labels  Count of personName
2        Risto Murto                    2
3         Arja Talma                    4
4  Frank Vang-Jensen                    1

In [37]:
pp_df.rename(columns={'Unnamed: 1': 'Boardseats'}, inplace=True)
pp_df.head()

               Names           Boardseats
0                NaN                  NaN
1         Row Labels  Count of personName
2        Risto Murto                    2
3         Arja Talma                    4
4  Frank Vang-Jensen                    1

In [38]:
pp_df = pp_df.drop([0, 1])
pp_df.reset_index(drop=True, inplace=True)
pp_df.head()

                   Names Boardseats
0            Risto Murto          2
1             Arja Talma          4
2      Frank Vang-Jensen          1
3         Gerhard Olsson          1
4  Hans Christian  Riise          1

In [55]:
unique_names = pp_df['Names'].unique()
num_unique_names = len(unique_names)
print(f"Number of unique person names: {num_unique_names}")
print("Unique person names:", unique_names)

Number of unique person names: 1144
Unique person names: ['Anne Koutonen' 'Anni Ronkainen' 'Leena Niemistö' ... 'Leena Vainiomäki'
 'Sami Laine' 'Mika Metsämäki']

In [39]:
pp_df['Boardseats'] = pp_df['Boardseats'].astype(int)
pp_df.dtypes

Names         object
Boardseats     int64
dtype: object

In [40]:
pp_df.groupby('Boardseats').Boardseats.value_counts().sort_values(ascending=False)

Boardseats
1    985
2    125
3     28
4      3
5      3
Name: count, dtype: int64

In [41]:
boardseats = pp_df['Boardseats'].sum()

print(f'Total number of Boardseats: {boardseats}')

Total number of Boardseats: 1346

In [42]:
pp_df = pp_df.sort_values(by='Boardseats', ascending=False)


#pp_df.reset_index(drop=True, inplace=True)

# Display the DataFrame to verify the change
pp_df.head()

              Names  Boardseats
196   Anne Koutonen           5
385  Anni Ronkainen           5
363  Leena Niemistö           5
230    Mammu Kaario           4
189   Robert Ingman           4

In [43]:
bs_average= pp_df['Boardseats'].mean()
bs_average

1.1765734265734267

In [44]:
bs_average_round = round(bs_average, 2)

bs_average_round

1.18

In [45]:
totalcount = pp_df['Boardseats'].count()

# Number of rows where 'Boardseats' is greater than 1
morethanone = pp_df[pp_df['Boardseats'] > 1].shape[0]

# Calculate the percentage
percentage_morethanone = (morethanone / totalcount) * 100

# Display the result
percentage_morethanone

13.898601398601398

In [50]:
totalcount = pp_df['Boardseats'].sum()
five_bs = pp_df[pp_df['Boardseats'] == 5]['Boardseats'].sum()
percent_five_bs = (five_bs / totalcount) * 100

print(f'The percentage of 5 board seats is {percent_five_bs:.2f}%')

The percentage of 5 board seats is 1.11%

In [51]:
totalcount = pp_df['Boardseats'].sum()
four_bs = pp_df[pp_df['Boardseats'] == 4]['Boardseats'].sum()
percent_four_bs = (four_bs / totalcount) * 100

print(f'The percentage of 4 board seats is {percent_four_bs:.2f}%')

The percentage of 4 board seats is 0.89%

In [52]:
totalcount = pp_df['Boardseats'].sum()
three_bs = pp_df[pp_df['Boardseats'] == 3]['Boardseats'].sum()
percent_three_bs = (three_bs / totalcount) * 100

print(f'The percentage of 3 board seats is {percent_three_bs:.2f}%')

The percentage of 3 board seats is 6.24%

In [53]:
totalcount = pp_df['Boardseats'].sum()
two_bs = pp_df[pp_df['Boardseats'] == 2]['Boardseats'].sum()
percent_two_bs = (two_bs / totalcount) * 100

print(f'The percentage of 2 board seats is {percent_two_bs:.2f}%')

The percentage of 2 board seats is 18.57%

In [54]:
totalcount = pp_df['Boardseats'].sum()
one_bs = pp_df[pp_df['Boardseats'] == 1]['Boardseats'].sum()
percent_one_bs = (one_bs / totalcount) * 100

print(f'The percentage of 1 board seats is {percent_one_bs:.2f}%')

The percentage of 1 board seats is 73.18%

In [46]:
csv_file_path = 'powerpeople.csv'
pp_df.to_csv(csv_file_path, index=False)
from IPython.display import FileLink
FileLink(csv_file_path)

/Users/arminiemela/Desktop/d3/powerpeople.csv